langchain
langchain-community
langchain-core
langchain-google-genai==2.1.5
google-ai-generativelanguage==0.6.18
unstructured[all-docs]
unstructured[pdf]
transformers>=4.30.0
torch>=2.0
chromadb
python-dotenv
tiktoken
docarray
camelot-py[cv]
langchain-groq
streamlit


